<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="">
    <clear />
    <add key="conexionBD" value="Provider=SQLNCLI10.1;Integrated Security='';Persist Security Info=False;User ID=gd;Password=gd2013;Initial Catalog=PRUEBAS;Data Source=(local)\SQLSERVER2008;Initial File Name='';Server SPN=''" />
  </appSettings>
</configuration>
