<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GestionDeDatos.AccesoDatos.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GestionDeDatos.AccesoDatos.Settings1>
            <setting name="conexionBD" serializeAs="String">
                <value>Provider=SQLNCLI10.1;Integrated Security="";Persist Security Info=False;User ID=gd;Password=gd2013;Initial Catalog=GD1C2013;Data Source=(local)\SQLSERVER2008;Initial File Name="";Server SPN=""</value>
            </setting>
        </GestionDeDatos.AccesoDatos.Settings1>
    </userSettings>
</configuration>