USE [GD1C2013]
GO
/****** Object:  StoredProcedure [SI_NO_APROBAMOS_HAY_TABLA].[sp_delete_rol]    Script Date: 07/16/2013 00:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [SI_NO_APROBAMOS_HAY_TABLA].[sp_delete_rol]
(
	@p_id_rol int
)
AS
BEGIN
	UPDATE [GD1C2013].[SI_NO_APROBAMOS_HAY_TABLA].[Rol]
	SET baja=1
	WHERE Rol.id_rol = @p_id_rol
END
