<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="">
    <add key="DateTimeNow" value="20130604 120000"/>
    <add key="conexionBD" value="User ID=gd;Password=gd2013;Initial Catalog=GD1C2013;Data Source=(local)\SQLSERVER2008;Integrated Security=False" />
  </appSettings>
</configuration>